
<div class="contenedor-antique">
  <h1 style="text-align: center">
    Historial de facturas
  </h1>
  <br>
  <div class="row">
    <div class="col-md-2">
      <label for="buscarApp">Buscar por cliente</label>
    </div>
    <div class="col-md-8">
      <input id="buscarApp" type="text" placeholder="Nombre de cliente" style="width: 100%" [(ngModel)]="busqueda">
    </div>
    <div class="col-md-2">
      <button class="btn btn-light" style="width: 100%" (click)="buscarFactura()">Buscar</button>
    </div>
  </div>
  <br>
<br>
  <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Nombre comprador</th>
          <th>Cajero </th>
          <th>Identificación</th>
          <th>Dirección</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Total</th>


        </tr>
      </thead>
      <tbody>
        <tr class="active" *ngFor="let item of listaFacturas">
          <td>{{item.nombreComprador}}</td>
          <td>{{item.nombreCajero}}</td>
          <td>{{item.identificacion}}</td>
          <td>{{item.direccion}}</td>
          <td>{{item.telefono}}</td>
          <td>{{item.correo}}</td>
          <td>{{item.total}}</td>
        </tr>

      </tbody>
    </table>
</div>

